.carousel-inner
{
    height: 600px;
}
.carousel-caption 
{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: black; */
    color: rgb(244, 238, 238);
    padding: 100px 100px;
}
.carousel-caption >h1{
    
    font-size: 70px;
    font-weight: 900;
    text-align:center;
    opacity: 0.9;
}

.carousel-caption >p{
    
    font-size: 30px;
    font-weight: 900;
    text-align:center;
    opacity: 0.9;
}


.container
{
        margin-bottom:50px ;
        margin-top: 50px;
        padding: 50px;
        margin-left: 50px;
        margin-right: 50px;
}

.wy
{
    font-style: oblique;
    font-size: x-large;
    top: 60%;
    left: 50%;
    margin-top: 100%;
    margin-bottom: 80%;
}


  